.nav__header {
  padding: 20px 0 20px 60px;
  margin-top: -20px;
  height: auto;
  width: 90%;

  a {
    color: #2e87dd;
    text-decoration: none;
    float: left;
    padding: 0 10px;
    background-color: #f2f2f2;
  }
  .nav__spacer {
    margin: 0 3px 0 5px;
    line-height: 10px;
    height: 30px;
    -webkit-box-flex: 1;
    background: transparent url($url-spacer) repeat-x left 13px;
  }
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  li > * {
    display: inline-block;
  }
}